* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background: url(/img/ep_naturalblack.png);
    font-family: 'Karla', sans-serif;
}

.header {
    color: white;
    margin-top: 20px;
}

.header > h1 > span {
    font-weight: bold;
    color: #CEFF1A;
}

#todoButton {
    background: #CEFF1A;
}

label {
    color: white;
}

#category-item,
#dueDate-item {
    background: #CEFF1A;
    color: black;
    padding: 7px;
}

#dueDate-item {
    background: #EDC9FF;
    color: black;
    padding: 5px;
}